{% extends 'partials/dashboard.html' %}

{% load staticfiles %}

{% block dashboard %}
<body class="grey lighten-3">
<div class="row">
    <div id="dash_wrapper" class="col s12">
        <div class="col l6 m12 s12">
            <div class="row">
                <div class="card white">
                    <div class="card-content">
                        <h6>New Project</h6>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
