{% extends 'partials/layout.html' %}

{% load staticfiles %}

{% block content %}
<body ng-cloak>
	<div class="row" >
    <div class="container">
      <div class="row">
        <div class="container mainform">
          <h4 class="center"><a href="/" target="_self" >Limber</a></h4>
          <div class="row">
            <div class="container">
              <div class="form_for_auth" ng-controller="authController">
                <div class="row">
                  <div id="login" class="col s12" >
                    <h5 class="center"><span class="active blue-text"> LOGIN </span></h5>
                    <div ng-if="loginmsg" class="center red-text">
                      [[ loginmsg ]]
                    </div>
                    <form name="loginForm"  ng-submit="login()">
                      {% csrf_token %}
                      <div class="row">
                        <div class="input-field col s12">
                          <input required type="email" ng-model="user.email" placeholder="Email Address" class="validate" />
                        </div>
                      </div>
										  <div class="row">
											  <div class="input-field col s12">
												  <input required type="password" ng-model="user.password" placeholder="Password" />
											  </div>
                        <div class="input-field col s12">
                          <a class="right modal-trigger" ng-click="openPassResetEmailModal()">Forgot Password?</a>
                        </div>
										  </div>

                      <div class="row">
                        <div class="input-field center">
                          <button class="btn blue" type="submit" name="action" ng-disabled="!(loginForm.$valid)">Log In</button>
                        </div>
                      </div>
									  </form>
								  </div>
                </div>
                <!-- Modal Structure -->
                <div id="password_reset_email_modal" class="modal">
                  <div class="modal-content">
                    <div class="row">
                      <h4 class="center">Reset your password</h4>
                      <p class="center">Enter your email address and we will send you a link to reset your password.</p>
                    </div>
                    <div class="row">
                      <div class="input-field col s12">
                        <input placeholder="Enter your email address" id="user_email" type="email" ng-model="reset_email" class="validate">
                        <label for="user_email">Email Address</label>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" class=" modal-action waves-effect waves-green btn-flat" ng-click="newPasswordRequest()">Send Password Reset Email</a>
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
                  </div>
                </div>
                <!-- End modal structure -->
              </div>
            </div>
            <div class="alternative">
              <div class="center">
                <a href="/signup" target="_self">Don't have an account?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
