{% extends 'partials/dashboard.html' %}

{% load staticfiles %}

{% block content %}
<body ng-cloak>
  <div class="row" ng-controller="passwordResetCtrl" ng-init="reset_code = '{{ reset_code }}'">
    <div>
      <form class="col s8">
        <div class="input-field col s12">
          <input placeholder="New Password" id="reset_password" type="password" class="validate" ng-model="first_pass">
          <label for="reset_password">New Password</label>
        </div>
        <div class="input-field col s12">
          <input placeholder="Confirm New Password" id="reset_password_conf" type="password" class="validate" ng-model="second_pass">
          <label for="reset_password_conf">Confirm Password</label>
        </div>
        <div class="col s12">
          <a id="reset_password_btn" class="waves-effect waves-light btn blue" ng-click="changePassword()">Change Password</a>
        </div>
      </form>
    </div>
  </div>
</body>
{% endblock %}
