{% extends 'partials/dashboard.html' %}

{% load staticfiles %}

{% block dashboard %}
<body class="grey lighten-5" ng-controller="ProjectCtrl" ng-cloak>
	<div class="row">
		<div id="dash_wrapper" class="container">
			<div class="row" >
				<div class="col s12">
					<h5>Personal Projects</h5>
					<div class="col s12 m4 l3" ng-repeat="project in personal_projects">
						<div class="card">
							<div class="card-content">
								<i class="material-icons activator right">more_vert</i>
								<a class="card-title word-wrap">
									<!-- When a description is more than 14 characters, show the first 14
									followed by three dots (cont) -->
									[[ project.project_name.substring(0, 14) ]][[project.project_name.length > 14 ? "...": ""]]
								</a>
								<div class="word-wrap">
									[[ project.project_desc.substring(0, 14) ]][[project.project_desc.length > 14 ? "...": ""]]
								</div>
							</div>
							<div class="card-reveal">
						     	<span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Actions</span>
						    	<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
								    <a class="btn-floating btn-small btn-flat black">
									    <i class="fa fa-list" style="font-size: 17px;"></i>
									</a>
									<ul>
									    <li><a class="btn-floating btn-small btn-flat red" ng-click="openDeleteModal(project.project_id, 'personal')"><i class="material-icons">delete</i></a></li>
									    <li><a class="btn-floating btn-small btn-flat blue" ng-click="openEditProjectModal(project.project_id, project.owner, 'personal')"><i class="material-icons">edit</i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col s12 m4 l3 add-project">
						<a href="#personalProjectModal" class="modal-trigger">
							<div class="card valign-wrapper">
								<div class="card-content valign">
									<span >
										<i class="material-icons tiny">add</i>Add Project
									</span>
								</div>
							</div>
						</a>
					</div>
					<div ng-show="personal_projects.length !== 0" class="col s12">
						<a href="#">view all</a>
					</div>
				</div>
				<div class="col s12">
					<h5>Organization Projects</h5>
					<div class="col s12 m4 l3" ng-repeat="project in org_projects">
						<div class="card">
							<div class="card-content">
								<a class="card-title">
									<i class="material-icons activator right">more_vert</i>
									<!-- When a description is more than 14 characters, show the first 14
									followed by three dots (cont) -->
									[[ project.project_name.substring(0, 14) ]][[project.project_name.length > 14 ? "...": ""]]
								</a>
								<div class="word-wrap">
									[[ project.project_desc.substring(0, 14) ]][[project.project_desc.length > 14 ? "...": ""]]
								</div>
							</div>
							<div class="card-reveal">
					      		<span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Actions</span>
					      		<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
							    	<a class="btn-floating btn-small btn-flat black">
								      	<i class="fa fa-list" style="font-size: 17px;"></i>
								    </a>
								    <ul>
							      		<li><a class="btn-floating btn-small btn-flat red" ng-click="openDeleteModal(project.project_id, 'organisational')"><i class="material-icons">delete</i></a></li>
							      		<li><a class="btn-floating btn-small btn-flat blue" ng-click="openEditProjectModal(project.project_id, project.owner, 'organisational')"><i class="material-icons">edit</i></a></li>
							    	</ul>
							  	</div>
					   		</div>
						</div>
					</div>
					<div class="col s12 m4 l3 add-project">
						<a href="#organisationalProjectModal" class="modal-trigger" ng-click="getAssociatedOrgs()">
							<div  class="card valign-wrapper">
								<div class="card-content valign">
									<span>
										<i class="material-icons tiny">add</i> Add Project
									</span>
								</div>
							</div>
						</a>
					</div>
					<div ng-show="org_projects.length !== 0" class="col s12">
						<a href="#">view all</a>
					</div>
				</div>
				<div class="col s12">
					<h5>Other Projects</h5>
					<div class="col s12 m4 l3" ng-repeat="project in other_projects">
						<div class="card">
							<div class="card-content">
								<a class="card-title">
									[[project.project_name]]
								</a>
								<div class="word-wrap">
									[[project.project_desc]]
								</div>
							</div>
						</div>
					</div>
					<div class="col s12 m4 l3" ng-show="org_projects.length === 0">
						<div class="card">
							<div class="card-content">
								<p>There are no other projects.</p>
							</div>
						</div>
					</div>
					<div ng-show="org_projects.length !== 0" class="col s12">
						<a href="#">view all</a>
					</div>
				</div>
			</div>
			<div class="col s12">
				<div class="row">
					<div class="card white">
						<div class="card-content">
							<h6>Activities</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="personalProjectModal" class="modal modal-fixed-footer">
		<div class="modal-content">
			<div class="row">
				<div class="center"><h4>Create Personal Project</h4></div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input ng-model="personal.project_name" id="personal_project_name" type="text" class="validate">
					<label for="personal_project_name">Project Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<textarea ng-model="personal.project_desc" id="personal_project_desc" class="materialize-textarea"></textarea>
					<label for="personal_project_desc">Project Description</label>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a class="modal-action modal-close waves-effect waves-green btn-flat " ng-click="createPersonalProject()">Save</a>
			<a class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
		</div>
	</div>

	<div id="organisationalProjectModal" class="modal modal-fixed-footer">
		<div class="modal-content">
			<div class="row">
				<div class="center"><h4>Create Organisational Project</h4></div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input ng-model="organisational.project_name" id="organisational_project_name" type="text" class="validate">
					<label for="organisational_project_name">Project Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
						<select id="owner" class="browser-default" ng-model="organisational.owner" required>
								<option value="" disabled selected>Organisation Owner (Project)</option>
								<option value="[[ organisation.org_id ]]"  ng-repeat="organisation in org_associations">[[ organisation.full_name]]</option>
						</select>
						<label for="owner" class="active">Project Owner</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<textarea ng-model="organisational.project_desc" id="organisational_project_desc" class="materialize-textarea"></textarea>
					<label for="organisational_project_desc">Project Description</label>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a class="modal-action modal-close waves-effect waves-green btn-flat " ng-click="createOrganisationalProject()">Save</a>
			<a class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
		</div>
	</div>

	<div id="editProjectModal" class="modal modal-fixed-footer">
		<div class="modal-content">
			<div class="row">
				<div class="center"><h4>Edit Project Details</h4></div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input ng-model="edit.project_name" id="new_project_name" type="text" class="validate">
					<label for="new_project_name">New Project Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<textarea ng-model="edit.project_desc" id="new_project_desc" class="materialize-textarea"></textarea>
					<label for="new_project_desc">New Project Description</label>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a class="modal-action modal-close waves-effect waves-green btn-flat " ng-click="editProject()">Save Changes</a>
			<a class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
		</div>
	</div>

	<div id="confirmDeleteProjectModal" class="modal modal-fixed-footer">
		<div class="modal-content">
			<div class="row">
				<div class="center"><h4>Confirm Project Delete</h4></div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<div class="center">
						<p style="color: #ff0000;">You will not be able to recover from this operation!</p>
					<p>To proceed, type in the word '<span style="font-weight: bold;">DELETE</span>' (in caps, quotes excluded)</p>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input ng-model="confirm.delete" id="confirm_project_delete" type="text" class="validate">
					<!-- <label for="confirm_project_delete">New Project Name</label> -->
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a class="modal-action modal-close waves-effect waves-green btn-flat " ng-click="deleteProject()">DELETE PROJECT</a>
			<a class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
		</div>
	</div>
</body>
{% endblock %}
