{% extends 'partials/layout.html' %}

{% load staticfiles %}

{% block content %}
<body ng-cloak>
<div class="row" >

	<div class="container">
	<div class="row">
		<div class="container mainform">
			<h4 class="center">Limber</h4>
			<div class="row">
				<div class="container">
					<div class="form_for_auth" ng-controller="authController">
						<div class="row">

							<div class="col s12">
							  <ul class="tabs">
							    <li class="tab col s3"><a class="signup_tab blue-text" href="#signup">Sign Up</a></li>
							    <li class="tab col s3"><a class="login_tab blue-text " href="#login">Log In</a></li>
							  </ul>
							</div>

							<div id="signup" class="col s12" >
								<div ng-if="signupmsg" class="center green-text">
									[[ signupmsg ]]
								</div>
								<div ng-if="signuperror" class="center red-text">
									[[ signuperror ]]
								</div>
					            <form ng-submit="register()">


									{% csrf_token %}
					                <div class="row">
					                    <div class="input-field col s12">
					                        <input required id="name" type="text" ng-model="signup.username" placeholder="Username" />
					                    </div>
					                </div>

					                <div class="row">
					                    <div class="input-field col s12">
					                        <input required type="email" ng-model="signup.email" placeholder="Email Address" class="validate" />
					                    </div>
					                </div>

					                <div class="row">
					                    <div class="input-field col s6">
					                        <input required type="password" ng-model="signup.password" placeholder="Password" />
					                    </div>
					                    <div class="input-field col s6">
					                        <input required type="password" ng-model="signup.confirm_password" placeholder="Confirm Password" />
					                    </div>
					                </div>

					                <div class="row">
					                    <div class="input-field center">
					                        <button class="btn blue" type="submit" name="action">sign up</button>
					                    </div>
					                </div>
					            </form>
					        </div>

					        <div id="login" class="col s12" >
					        <div ng-if="loginmsg" class="center red-text">
									[[ loginmsg ]]
								</div>
					            <form ng-submit="login()">
									{% csrf_token %}
					                <div class="row">
					                    <div class="input-field col s12">
					                        <input required type="email" ng-model="user.email" placeholder="Email Address" class="validate" />
					                    </div>
					                </div>

					                <div class="row">
					                    <div class="input-field col s12">
					                        <input required type="password" ng-model="user.password" placeholder="Password" />
					                    </div>
					                </div>

					                <div class="row">
					                    <div class="input-field center">
					                        <button class="btn blue" type="submit" name="action">Log In</button>
					                    </div>
					                </div>

					            </form>
					        </div>

						</div>
				</div>
			</div>
		</div>
		</div>
		</div>
	</div>

</div>
{% endblock %}
