{% extends 'partials/layout.html' %}

{% load staticfiles %}

{% block content %}
<div class="row" >

	<div class="container">
	<div class="row">
		<div class="container mainform">
			<h4 class="center">Limber</h4>
			<div class="row">
				<div class="container">
					<div class="form_for_auth" ng-controller="authController">
						<div class="row">

							<div class="col s12">
							  <ul class="tabs">
							    <li class="tab col s3"><a class="blue-text active" href="#signup">Sign Up</a></li>
							    <li class="tab col s3"><a class="blue-text " href="#login">Log In</a></li>
							  </ul>
							</div>

							<div id="signup" class="col s12" >
					            <form ng-submit="register()" novalidate>
									{% csrf_token %}
					                <div class="row">
					                    <div class="input-field col s12">
					                        <input id="name" type="text" ng-model="signup.username" placeholder="Enter username">
					                    </div>
					                </div>

					                <div class="row">
					                    <div class="input-field col s12">
					                        <input type="email" ng-model="signup.email" placeholder="Enter Email address" class="validate">
					                    </div>
					                </div>

					                <div class="row">
					                    <div class="input-field col s6">
					                        <input type="password" ng-model="signup.password" placeholder="Enter password">
					                    </div>
					                    <div class="input-field col s6">
					                        <input type="password" ng-model="signup.confirm_password" placeholder="Confirm Password">
					                    </div>
					                </div>

					                <div class="row">
					                    <div class="container center">
					                        <button class="btn blue" type="submit" name="action">sign up</button>
					                    </div>
					                </div>
					            </form>
					        </div>

					        <div id="login" class="col s12" >
					            <form ng-submit="login()" novalidate>
									{% csrf_token %}
					                <div class="row">
					                    <div class="input-field col s12">
					                        <input type="email" ng-model="user.username" placeholder="Enter Email Address" class="validate">
					                    </div>
					                </div>

					                <div class="row">
					                    <div class="input-field col s12">
					                        <input type="password" ng-model="user.password" placeholder="Enter Password">
					                    </div>
					                </div>

					                <div class="row">
					                    <div class="container center">
					                        <button class="btn blue" type="submit" name="action">Log In</button>
					                    </div>
					                </div>

					            </form>
					        </div>

						</div>
				</div>
			</div>
		</div>
		</div>
		</div>
	</div>

</div>
{% endblock %}
