{% extends 'partials/layout.html' %}

{% load staticfiles %}

{% block content %}
<body ng-cloak>
<div class="row" >

	<div class="container">
	<div class="row">
		<div class="container mainform">
			<h4 class="center"><a href="{% url 'index' %}"> Limber </a></h4>
			<div class="row">
				<div class="container">
					<div class="form_for_auth" ng-controller="authController">
						<div class="row">

							<div class="col s12" >
							  <ul class="tabs">
							    <li class="tab col s3"><a class="active blue-text" href="#signup">Sign Up</a></li>
							  </ul>
							</div>

							<div id="signup" class="col s12" >
								<div ng-if="signupmsg" class="center green-text">
									[[ signupmsg ]]
								</div>
								<div ng-if="signuperror" class="center red-text">
									[[ signuperror ]]
								</div>
					            <form name="registrationForm" novalidate ng-submit="register(registrationForm.$valid)" >


									{% csrf_token %}
					                <div class="row">
					                    <div class="input-field col s12">
					                        <input id="name" type="text" ng-model="signup.username" placeholder="Username" required/>
					                    </div>
					                </div>

					                <div class="row">
					                    <div class="input-field col s12">
					                        <input type="email" ng-model="signup.email" placeholder="Email Address" class="validate" required/>
					                    </div>
					                </div>

					                <div class="row">
					                    <div class="input-field col s6">
					                        <input type="password" ng-model="signup.password" placeholder="Password" ng-class="(signup.password != signup.confirm_password) ? 'invalid': ''" required/>
					                    </div>
					                    <div class="input-field col s6">
					                        <input type="password" ng-model="signup.confirm_password" placeholder="Confirm Password" ng-class="(signup.password != signup.confirm_password) ? 'invalid': ''" required compare-to="signup.password"/>
					                    </div>
										<label ng-model="confirmation"></label>
					                </div>

					                <div class="row">
					                    <div class="input-field center">
					                        <button class="btn blue" type="submit" name="action">sign up</button>
					                    </div>
					                </div>
					            </form>
					        </div>

						</div>
				</div>
			</div>
		</div>
		</div>
		</div>
	</div>

</div>
{% endblock %}
