.home-card .mdl-card {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.mdl-card__media > img {
  max-width: 100%;
}



.mdl-grid {
	max-width: 100%;
}


.mdl-card__title {
	text-align: center;
}

.home-card .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/welcome.jpg') center / cover;
}
