{% load staticfiles %}

<!DOCTYPE html>
<html ng-app='limberApp'>
		<head>
				<meta charset="utf-8">
				<title>Limber</title>
				<link rel='shortcut icon' href="{% static 'images/logo.png' %}" type='image/x-icon' />
				<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
				<link type="text/css" rel="stylesheet" href="{% static 'styles/materialize.min.css' %}"  media="screen,projection"/>
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
				<link type="text/css" src="{% static 'angular-materialize/css/style.css' %}"/>
				<link type="text/css" rel="stylesheet" href="{% static 'styles/style.css' %}"/>
				<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
				<base href="/">
				<style type="text/css">
						[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
							display: none !important;
						}
				</style>
		</head>

				{% block content %}

				{% endblock %}
				<script type="text/javascript" src="{% static 'scripts/vendor/jquery.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'scripts/vendor/typed.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'scripts/vendor/materialize.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'scripts/vendor/angular.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'scripts/vendor/angular-resource.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'scripts/vendor/angular-cookies.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'scripts/vendor/angular-route.min.js' %}"></script>
				<script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>
				<script type="text/javascript" src="{% static 'scripts/services/mainService.js' %}"></script>
				<script type="text/javascript" src="{% static 'scripts/services/projectInviteService.js' %}"></script>
				<script type="text/javascript" src="{% static 'scripts/controllers/landingCtrl.js' %}"></script>
				<script type="text/javascript" src="{% static 'scripts/controllers/authCtrl.js' %}"></script>
				<script type="text/javascript" src="{% static 'scripts/controllers/projectCtrl.js' %}"></script>
				<script type="text/javascript" src="{% static 'scripts/controllers/dashboardCtrl.js' %}"></script>
				<script type="text/javascript" src="{% static 'scripts/controllers/projectInviteCtrl.js' %}"></script>
		</body>
</html>
