{% load staticfiles %}
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{% static 'css/material.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/material.min.js' %}"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout">
            <header class="mdl-layout__header">
                <div class="mdl-layout-icon"></div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title"></span>
                <nav class="mdl-navigation">
                  
                </nav>
              </div>
            <main class="mdl-layout__content">
                {% block content %}
                {% endblock %}
            </main>
            <footer class="mdl-mini-footer">
              <div class="mdl-mini-footer__right-section">
                <div class="mdl-logo">
                    <a href="https://github.com/andela/limber" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"> Limber </a> 
                </div>
              </div>
            </footer>
        </div>
</body>
</html>