{% extends 'partials/layout_basic.html' %}

{% load staticfiles %}
{% block content %}
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
      	<div class="home-card">
      		<div class="mdl-card mdl-shadow--4dp">
			  <div class="mdl-card__title">
			    <h2 class="mdl-card__title-text">Limber</h2>
			  </div>
			  <div class="mdl-card__media">
			  	<img src="">
			  </div>
			  <div class="mdl-card__supporting-text">
			  	A project management platform for Agile perfectionists with deadlines.
			  </div>
			  <div class="mdl-card__actions mdl-card--border">
			  
			    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
			      Register
			    </a>
			    <a class="mdl-button mdl-js-button">
			      Login
			    </a>
			  </div>
			</div>
      	</div>
	  </div>
	</div>
{% endblock %}