{% extends 'partials/layout_basic.html' %}

{% load staticfiles %}

{% block content %}
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<div class="mdl-card mdl-shadow--4dp centered">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text">Create Account</h2>
			</div>
			<form action="#" method="POST">
				<div class="mdl-card__supporting-text">
					{% csrf_token %}
					{{ form.non_field_errors }}
					<div class="mdl-textfield mdl-js-textfield mdl-cell--10-col">
						{{ form.username.errors }}
						<label class="mdl-textfield__label" for="{{ form.username.id_for_label }}">Username</label>
						{{ form.username }}
					</div>
					<div class="mdl-textfield mdl-js-textfield mdl-cell--10-col">
						{{ form.email.errors }}
						<label class="mdl-textfield__label" for="{{ form.email.id_for_label }}">Email Address</label>
						{{ form.email }}
					</div>
					<div class="mdl-textfield mdl-js-textfield mdl-cell--10-col">
						{{ form.password.errors }}
						<label class="mdl-textfield__label" for="{{ form.password.id_for_label }}">Password</label>
						{{ form.password }}					
					</div>
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" value="Register" />
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
