{% extends 'partials/layout_basic.html' %} {% load staticfiles %} {% block content %}
<div class="row">
    <div class="col s12 m6">
        <div class="card white darken-1 centered">
            <div class="card-action light-blue darken-2">
                <p>&nbsp;</p>
                <div class="card-content">
                    <span class="card-title activator white-text text-darken-4">Register</span>
                </div>
            </div>
            <div class="card-content cyan-text">
                <form action="#" method="POST">
				<div class="mdl-card__supporting-text">
					{% csrf_token %}
					{{ form.non_field_errors }}
					<div class="input-field">
					<i class="material-icons prefix mdl-color-text--white-400">account_circle</i>
						{{ form.username.errors }}
						<label class="" for="{{ form.username.id_for_label }}">Username</label>
						{{ form.username }}
					</div>
					<div class="input-field">
					<i class="material-icons prefix">vpn_key</i>
						{{ form.password.errors }}
						<label class="" for="{{ form.password.id_for_label }}">Password</label>
						{{ form.password }}					
					</div>
					<div class="input-field">
					<i class="material-icons prefix">email</i>

						{{ form.email.errors }}
						<label class="" for="{{ form.email.id_for_label }}">Email Address</label>
						{{ form.email }}
					</div>
					
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" value="Register" />
				</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
